@import '../../index.scss';

.muop-button {
  cursor: pointer;
  line-height: 100%;
  border-radius: 0.25rem;

  // basic element event
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }

  // theme
  &.muop-button-danger {
    background-color: $bg-color-danger;
    border: 1px solid $bd-color-danger;
    color: $f-color-light;
  }

  &.muop-button-warning {
    background-color: $bg-color-warning;
    border: 1px solid $bd-color-warning;
    color: $f-color-dark;
  }

  &.muop-button-success {
    background-color: $bg-color-success;
    border: 1px solid $bd-color-success;
    color: $f-color-light;
  }

  &.muop-button-info {
    background-color: $bg-color-info;
    border: 1px solid $bd-color-info;
    color: $f-color-light;
  }

  &.muop-button-default {
    background-color: $bg-color-default;
    border: 1px solid $bd-color-default;
    color: $f-color-light;
  }

  // theme + outline
  &.muop-button-danger-outline {
    background-color: white;
    border: 1px solid $bd-color-danger;
    color: $bg-color-danger;
  }

  &.muop-button-warning-outline {
    background-color: white;
    border: 1px solid $bd-color-warning;
    color: $bg-color-warning;
  }

  &.muop-button-success-outline {
    background-color: white;
    border: 1px solid $bd-color-success;
    color: $bg-color-success;
  }

  &.muop-button-info-outline {
    background-color: white;
    border: 1px solid $bd-color-info;
    color: $bg-color-info;
  }

  &.muop-button-default-outline {
    background-color: white;
    border: 1px solid $bd-color-default;
    color: $bg-color-default;
  }

  // size
  &.muop-button-lg {
    font-size: $fs-large;
    padding: 8px 20px;
    min-width: 100px;
  }

  &.muop-button-md {
    font-size: $fs-normal;
    padding: 8px 16px;
    min-width: 75px;
  }

  &.muop-button-sm {
    font-size: $fs-small;
    padding: 4px 8px;
    min-width: 50px;
  }
}
