@import '../../index.scss';

@mixin muop-theme($bg, $bd, $ft) {
  background-color: $bg;
  border: 1px solid $bd;
  color: $ft;
}

@mixin muop-size($size, $p-ud, $p-lr, $mw) {
  font-size: $size;
  padding: $p-ud $p-lr;
  min-width: $mw;
}

.muop-button {
  cursor: pointer;
  line-height: 100%;
  border-radius: 0.25rem;

  // basic element event
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }

  // theme
  &-danger {
    @include muop-theme($bg-color-danger, $bd-color-danger, $ft-color-danger);
  }

  &-warning {
    @include muop-theme(
      $bg-color-warning,
      $bd-color-warning,
      $ft-color-warning
    );
  }

  &-success {
    @include muop-theme(
      $bg-color-success,
      $bd-color-success,
      $ft-color-success
    );
  }

  &-info {
    @include muop-theme($bg-color-info, $bd-color-info, $ft-color-info);
  }

  &-default {
    @include muop-theme(
      $bg-color-default,
      $bd-color-default,
      $ft-color-default
    );
  }

  // theme + outline
  &-danger-outline {
    @include muop-theme(white, $bd-color-danger, $bg-color-danger);
  }

  &-warning-outline {
    @include muop-theme(white, $bd-color-warning, $bg-color-warning);
  }

  &-success-outline {
    @include muop-theme(white, $bd-color-success, $bg-color-success);
  }

  &-info-outline {
    @include muop-theme(white, $bd-color-info, $bg-color-info);
  }

  &-default-outline {
    @include muop-theme(white, $bd-color-default, $bg-color-default);
  }

  // size
  &-lg {
    @include muop-size($fs-large, 8px, 20px, 100px);
  }

  &-md {
    @include muop-size($fs-normal, 8px, 16px, 75px);
  }

  &-sm {
    @include muop-size($fs-small, 4px, 8px, 50px);
  }
}
