@import '../../index.scss';

$height: 70px;

.muop-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.muop-alert-inner {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  animation: showModal 0.4s ease-in-out;

  header {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    > button {
      border: none;
      background-color: rgba($color: #000000, $alpha: 0);
      cursor: pointer;
    }
  }

  section {
    padding: 0;
  }

  footer {
    > button {
      border: none;
      background-color: rgba($color: #000000, $alpha: 0);
      cursor: pointer;
    }
  }
}

@keyframes showModal {
  0% {
    top: 0;
  }
  100% {
    top: calc(50% - #{$height/2});
  }
}

.muop-alert-lg {
  width: $lg;
}

.muop-alert-md {
  width: $md;
}

.muop-alert-sm {
  width: $sm;
}

.muop-alert-none {
  background-color: $bg-color-light;
  color: $ft-color-light;
  header,
  footer {
    button {
      color: $ft-color-light !important;
    }
  }
}

.muop-alert-primary {
  background-color: $bg-color-primary;
  color: $ft-color-primary;

  header,
  footer {
    button {
      color: $ft-color-primary !important;
    }
  }
}

.muop-alert-secondary {
  background-color: $bg-color-secondary;
  color: $ft-color-secondary;

  header,
  footer {
    button {
      color: $ft-color-secondary !important;
    }
  }
}

.muop-alert-warning {
  background-color: $bg-color-warning;
  color: $ft-color-warning;
  header,
  footer {
    button {
      color: $ft-color-warning !important;
    }
  }
}
