/**
theme color
*/
$primary: blue;
$success: #06d6a0;
$warning: #ffd166;
$light: white;
$danger: #ef476f;
$default: #073b4c;
$info: #118ab2;

/**
background
*/
$bg-color-primary: $primary;
$bg-color-success: $success;
$bg-color-warning: $warning;
$bg-color-light: $light;
$bg-color-danger: $danger;
$bg-color-default: $default;
$bg-color-info: $info;

/**
border
*/
$bd-color-primary: $primary;
$bd-color-success: $success;
$bd-color-warning: $warning;
$bd-color-light: $light;
$bd-color-danger: $danger;
$bd-color-default: $default;
$bd-color-info: $info;

/**
font
*/
$ft-color-primary: white;
$ft-color-success: white;
$ft-color-warning: black;
$ft-color-light: black;
$ft-color-danger: white;
$ft-color-default: white;
$ft-color-info: white;

$f-color-light: #ffffff;
$f-color-dark: #000000;

/**
font size
*/
$fs-large: 16px;
$fs-normal: 13px;
$fs-small: 11px;

/**
width
*/
@function calc-width($grid) {
  @return 100vw / 12 * $grid;
}
$lg: calc-width(9);
$md: calc-width(6);
$sm: calc-width(3);
$x-sm: calc-width(2);
$xx-sm: calc-width(1);

@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
